In [1]:
#list
a = [i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [2]:
#list
a = list(int(input("Enter value ")) for i in range(5))
print(a)

Enter value 1
Enter value 2
Enter value 3
Enter value 4
Enter value 5
[1, 2, 3, 4, 5]

In [6]:
data = [34,546,345,567,354,687]
a = list(i for i in data if i %2 ==0)
print(a)

[34, 546, 354]

In [10]:
data = ["Apple","Ball","Cat","Dog","Fish"]
a = list(i for i in data if i[0].isupper())
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
data = {i:i**2 for i in range(1,11)}
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish"]
data = {i:i.lower() for i in a}
data

{'Apple': 'apple', 'Ball': 'ball', 'Cat': 'cat', 'Dog': 'dog', 'Fish': 'fish'}

In [14]:
x = int(input("Enter x ="))
y = int(input("Enter y ="))
n= int(input("Enter n = "))
data = {i:i**n for i in range(x,y)}
data

Enter x =2
Enter y =8
Enter n = 3

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [23]:
a = ["Apple","Ball","Cat","Dog","Fish"]
data = {a:a.count() }
data

TypeError: list.count() takes exactly one argument (0 given)

In [17]:
import datetime
x = datetime.datetime.now()
 
print(x.strftime("%c"))

Sun Dec  4 16:59:57 2022

In [18]:
import datetime
x = datetime.datetime.now()
name = input("Enter name ")
y = datetime.datetime.now()

 
print(y-x)

Enter name josgi
0:00:04.684972

In [21]:
import pandas as pd
df = pd.read_csv('bill.xlsx')
df

  name   price   quantity   total
0   js       2          3       6

In [22]:
os.mkdir('sj')

NameError: name 'os' is not defined