In [ ]:
#python collection
list
tuple
dict

In [ ]:
list 
indexing
-ordered
-multiple and duplicate value
-mutable

In [7]:
a=("Apple", "Ball", "Cat")
b=(1,2,3,4,5,6,7,8,9)
print(type(a))
print(type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
('Apple', 'Ball', 'Cat')
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
a=("Apple", "Ball", "cat")
b=(1,2,3,4,5,6,7,8,9)
c=(a+b)
print(c)

('Apple', 'Ball', 'cat', 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
a=(1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [11]:
n= int(input("Enter n= "))
i=()
for i in range(n):
    x = int(input("Enter x= "))
    i=i+x

print(i)

Enter n= 2
Enter x= 3
3
Enter x= 4
5

In [12]:
a=("Apple","Zebra","Ball","Cat")
for i in a:
    print(i)

Apple
Zebra
Ball
Cat

In [13]:
a=("Apple","Zebra","Ball","Cat")
print(len(a))

4

In [17]:
a=("Apple","Zebra","Ball","Cat","Ram")
print("Len of a= ",len(a))
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Len of a=  5
Yes 1

In [36]:
a = ["Shyam","Suresh","Ramesh","Hari","Ram"]
del.a(1)

SyntaxError: invalid syntax (579987595.py, line 2)

In [32]:
a = ["Shyam","Suresh","Ramesh","Hari","Ram"]
a.remove("Ram")
print(a)

['Shyam', 'Suresh', 'Ramesh', 'Hari']

In [39]:
a = ["Shyam","Suresh","Ramesh","Hari","Ram"]
n = len(a)
for i in range(n):
    if a(i) == "Ram":
print(i,a(i))

IndentationError: expected an indented block (3628396481.py, line 5)

In [45]:
a = ["Shyam","Suresh","Ramesh","Hari","Ram"]
a[0]

'Shyam'

In [48]:
c=2
n1 = int(input("Enter n1= "))
n2 = int(input("Enter n2= "))
for i in range(n1,n2):
    if n1%c==0:
        print("This is prime")
        break
    c= c+1

Enter n1= 4
Enter n2= 6
This is prime

In [ ]:
n1 = int(input("Enter n1= "))
n2 = int(input("Enter n2= "))
if n1 >= 2 and n2 >=0:
    for i in range(n1,n2):
        for j in range(2,1):
            
            if i%j==0:
                continue
        else:
            print(i)

In [ ]:
a = ["Shyam","Suresh","Ramesh","Hari","Ram"]

In [2]:
a = [['Ram',89, 'Kathmandu'], 
    ['Shayam', 57,'Bhaktapur'],
    ['Hari',56,"lalitpur"]]
print(a[1][0])

Shayam

In [ ]:
data = []
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age= "))
    add = input("Enter add = ")
    info = (name,age,add)
    data.append(info)

print(data)

Enter n = 3
Enter name = 4
Enter age= 5
Enter add = 6
Enter name = jj
Enter age= 33
Enter add = 44

In [ ]:
a = [['Ram',89, 'Kathmandu'], 
    ['Shayam', 57,'Bhaktapur'],
    ['Hari',56,"lalitpur"]]
search = input("Enter name = ")
for i in a:
    if search in i:

In [ ]:
a = "Apple "