In [6]:
#Tuple
t = ("Apple","Banana","Cat","Dog")
c = (1,2,3,4,5,6,7,8,9)
print(type(t))
print(type(c))

<class 'tuple'>
<class 'tuple'>

In [5]:
a= ("Apple",)
print(type(a))

<class 'tuple'>

In [7]:
a = ()
b = ("Apple",)
d = ("Ball",)
c = a+b+d
c

('Apple', 'Ball')

In [9]:
n = int(input("Enter n = "))
i = ()
for i in range(n):
    x = int(input("Enter x= "))
    i = i+x

print(i)

Enter n = 2
Enter x= 44
Enter x= 55
56

In [10]:
a = (123,34,456,2,546,324)
b = list(a)
b

[123, 34, 456, 2, 546, 324]

In [12]:
a = (123,34,456,2,546,324)
b = list(a)
del b[0]
print(b)

[34, 456, 2, 546, 324]

In [13]:
a = tuple(b)
a

(34, 456, 2, 546, 324)